
<h1>How I got into Programming</h1>
<p>After graduating college in 2011 with a degree in film, I found myself unable to secure a job in the field I thought I wanted to enter. In addition, I gradually realized that despite my love for storytelling and film, I did not want a career in the entertainment industry. To make matters worse, I had no clue what I wanted to do. Cue the two-year quarter-life crisis. Although this period was not without it’s despondency, it did give me the time to read some of the best books I’ve ever read, which drastically improved my outlook on many things (I’ve included some in my recommended reading section). But more importantly, it was during this time that I was introduced to what I have now decided to make my career: Programming.<br>

During this time, my good friend Matt,  a programmer, had suggested I learn coding in my spare time, with the goal of making it my future career. Knowing absolutely nothing about it and assuming you had to be a genius to work with computers, I brushed his suggestions off, despite being informed that not only was a degree not required to enter the field, but that many people from completely unrelated fields were transitioning to programming. I don’t know what prompted me to do so, but one day I finally caved in to his prodding. I agreed I would dedicate at least thirty minutes a day. I started on Zed Shaw’s “Learn Python the Hard Way”. After some initial frustrations, something clicked, and about halfway through the course, my thirty-minute pledge quickly escalated to coding in all my free time. Not only was I enjoying it, but I found it fascinating, and it synchronized with the logical and creative aspects of my personality. I then delved into “Head First Java”, which introduced me to the concepts of OOP.  Since then I've been learning as much as I can about Rails web development. I'd love to be accepted into App Academy, but I've realized that becoming a developer depends on my efforts alone, whether I am lucky enough to attend a coding bootcamp or not.

I’m going to cap this essay right now, otherwise this will stay on this text document and never feel the warm embrace of a paragraph tag.
</p>
<h1>Other</h1>
<ul>
	<li> I grew up and still reside in Southern California</li>
	<li> I received my bachelor's degree in film from Cal State Fullerton</li>
	<li> To hold myself accountable, I am announcing on this website that I am halfway through a book that <strong>will</strong> be completed, so help me God!</li>
	<li> I love reading non-fiction</li>
	<li> Making people laugh has always been a great joy for me, and I hope I can reach a larger audience than my friends and co-workers at some point in the future (whatever that may entail)</li>

</ul>

