<div class="row">
    <div class="large-12 columns">
			<h1>How I got into Programming</h1>
			<p>Coming soon!<p>

						<h1>Other</h1>
			<ul>
				<li> I grew up and still reside in Southern California</li>
				<li> I received my bachelor's degree in film from Cal State Fullerton</li>
				<li> To hold myself accountable, I am announcing on this website that I am halfway through a book that <strong>will</strong> be completed, so help me God!</li>
				<li> I love reading non-fiction</li>
				<li> Making people laugh has always been a great joy for me, and I hope I can reach a larger audience than my friends and co-workers at some point in the future (whatever that may entail)</li>
			</ul>
    </div>
</div>

