<h1>Home</h1>
<p>Hello! My name is Jonathan Sevold, and I am an aspiring Rails Developer. This is my first attempt at building a website, and whereas more experienced programmers will use their site to showcase their projects, this website <em>is</em> my project. And like my study and practice of programming, it will be a constant work in progress.
</p>
