<div class="row">
    <div class="large-3 columns">
      <h1><img src="http://placehold.it/400x100&text=Logo"></h1>
    </div>
    <div class="large-9 columns">
      <ul class="button-group right">
        <li><a href="/static_pages/home" class="button" style='background-color:none; font-color:black;'>Home</a></li>
        <li><a href="/static_pages/about" class="button" style='background-color:none; font-color:black;'>About</a></li>
        <li><a href="/static_pages/contact" class="button" style='background-color:none; font-color:black;'>Contact</a></li>
      </ul>
    </div>
</div>